* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 103, 163), rgb(12, 25, 70));
    font-family: sans-serif;
    color: white;
}

.temperature {
    height: 30vh;
    width: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}

.hourly-section {
    white-space: nowrap;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    width: 70vh;
}

.hourly-weather {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.hourly-icon {
    scale: 75%;
    align-items: center;
}

.search-bar{
    align-items: center;
}

.button{
    display: none;
}